.wrapContact{
    width: 92%;
    margin-left: 2%;
    margin-top: 4%;
    height: 600px;
    background-color: #fff;
    border-radius: 15px;
    border-left: 1px solid rgb(177, 175, 175);
    overflow: auto;
    padding: 20px;

}

.bgContact
{
background:#f0f0f0;
margin-left: 15%;
}

.input1Contact{
    width: 200px;
    height: 50px;
}

.input1Contact{
    height: 40px;
    width: 950px;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;
    background: rgb(239, 239, 239);
    padding-top: 10px;
    padding-left: 2px;
}

.input2Contact{
    height: 100px;
    width: 950px;
    border-color: black;
    border-width: 5px;
    border-radius: 15px;
    background: rgb(239, 239, 239);
    padding-top: 10px;
    padding-left: 2px;
}

.btSContact{
    border-radius: 15px;
    background: rgb(110, 110, 110);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-top: 2%;
    color: #f0f0f0;
}

.btSContact:hover{
    background: rgb(37, 37, 37);
}